/* Color Primary */
:root {
    --color-primary: #673ab7;
    --color-primary-light: #9575cd;
    --color-primary-dark: #512da8;
    --color-background: #f5f5f5b3;
}
/* Color Font */
:root {
    --color-font: #0e0e0e;
    --color-font-primary: #f5f5f5;
    --color-font-light: #fafafa;
    --color-font-dark:#7c7c7cbf;;
}

/* Font-size */
:root {
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1rem;
}

/* color status */
:root {
    --color-draft: #94a3b8;
    --color-applied: #3b82f6;
    --color-interviewing: #8b5cf6;
    --color-offer: #10b981;
    --color-rejected: #ef4444;

    /* color background status */
    --bg-draft: #f1f5f9;
    --bg-applied: #eff6ff;
    --bg-interviewing: #f5f3ff;
    --bg-offer: #ecfdf5;
    --bg-rejected: #fef2f2;
}